@charset "UTF-8";

body {
    overflow-x: hidden;
}

.gnb {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gnb a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
}

main {
    padding-bottom: 80vh;
}

section {
    position: relative;
    z-index: 5;
    padding: 5vw;
    background: #000;
}

.intro {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
}

.circle-wrap {
    position: fixed;
    inset: 0;
    z-index: -1;
    /* z-index: 6; */
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none;
}

.circle-wrap .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 154, 71, 0.5);
    filter: blur(16px);
}

.circle-wrap .circle:nth-child(1) {
    top: 10%;
    left: 10%;
    filter: blur(10px);
}
.circle-wrap .circle:nth-child(2) {
    top: 30%;
    left: 20%;
    width: 150px;
    height: 150px;
}
.circle-wrap .circle:nth-child(3) {
    top: 50%;
    left: 40%;
    width: 300px;
    height: 300px;
    filter: blur(26px);
}
.circle-wrap .circle:nth-child(4) {
    top: 70%;
    right: 10%;
    width: 150px;
    height: 150px;
}
.circle-wrap .circle:nth-child(5) {
    top: 10%;
    right: 40%;
    width: 100px;
    height: 100px;
}
.circle-wrap .circle:nth-child(6) {
    top: 70%;
    right: 70%;
    width: 350px;
    height: 350px;
    filter: blur(36px);
}

.visual {
    height: 100vh;
    clip-path: circle(5% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.visual-title {
    position: relative;
    /* border: 1px solid #0f0; */
}

.visual-title h1 {
    font-weight: 600;
    font-size: 25vw;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.06em;
}

.marquee-horizon {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.marquee-horizon .marquee {
    display: flex;
    animation: marquee 10s linear infinite;
}

.marquee-horizon .marquee p {
    flex-shrink: 0;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    display: flex;
}

.marquee-horizon .marquee p span {
    display: inline-block;
    /* border: 1px solid #ff0; */
    padding: 0 20px;
}

.marquee-tilted {
    position: absolute;
    top: 77%;
    left: -20%;
    background: var(--main-color);

    transform: rotate(-24deg);
    transform-origin: 0 0;

    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.4);
}

.marquee-tilted .marquee {
    display: flex;
    animation: marquee 20s reverse linear infinite;
}

.marquee-tilted .marquee p {
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    color: #fff;
    display: flex;
}

.marquee-tilted .marquee p span {
    display: inline-block;
    padding: 0 30px;
}

@keyframes marquee {
    100% {
        transform: translateX(-100%);
    }
}

/* ABOUT */
.about {
    /* border: 1px solid #f00; */
}

.about-title h2 {
    font-weight: 700;
    font-size: 8vw;
    color: #fff;
    line-height: 1;
}

.about-title h2 span {
    display: block;
}

.about-title h2 span + span {
    font-weight: 400;
}

/* PROJECT */
.project {
    /* border: 1px solid #0f0; */
}

.project-menu li {
    font-weight: 700;
    font-size: 9vw;
    color: var(--white30p);
    line-height: 1;
    cursor: pointer;
}

.project-menu li:hover {
    color: var(--main-color) !important;
}

.project-menu li.active {
    color: #fff;
}

.project-content {
    margin-top: 70px;
}

.webdesign .project-list {
    counter-reset: webdesign-project;
}

.webdesign .project-list li {
    width: 50%;
    counter-increment: webdesign-project;
    position: relative;
}

.webdesign .project-list li::before {
    content: counter(webdesign-project);
    font-family: Pretendard;
    font-weight: 300;
    font-size: 10vw;
    color: #fff;
    line-height: 1;
    position: absolute;
    top: 0;
    right: -150px;
}

.webdesign .project-list li:hover::before {
    color: var(--main-color);
}

.webdesign .project-list li:nth-child(even)::before {
    right: auto;
    left: -150px;
}

.webdesign .project-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -400px;
    left: 100%;
    width: 1px;
    height: 400px;
    background: var(--white40p);
}

.webdesign .project-list li:nth-child(even)::after {
    left: auto;
    right: 100%;
}

.webdesign .project-list li:not(:first-child) {
    margin-top: 400px;
}

.webdesign .project-list li:nth-child(even) {
    margin-left: auto;
}

.webdesign .project-list li figure {
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
}

.webdesign .project-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.webdesign .project-list li dl {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-top: 40px; */
    padding: 40px 0;
    font-family: Pretendard;
    font-weight: 400;
    color: #fff;
}

.webdesign .project-list li:hover dl {
    color: var(--main-color);
}

.webdesign .project-list li dl dt {
    font-size: 30px;
}
.webdesign .project-list li dl dd {
    font-size: 20px;
}

.pswp {
    backdrop-filter: blur(10px) !important;
}

.graphicdesign {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.graphicdesign .project-list {
    width: 40%;
    /* border: 1px solid #0f0; */
}

.graphicdesign .project-list li {
    padding: 10px 0;
    position: relative;
    cursor: pointer;
}

.graphicdesign .project-list li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: 0.4s;
}

.graphicdesign .project-list li.active::after {
    width: 100%;
}

.graphicdesign .project-list li:hover * {
    color: var(--main-color);
}

.graphicdesign .project-list li.active * {
    color: #fff;
}

.graphicdesign .project-list li dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white30p);
}

.graphicdesign .project-list li dl dt {
    font-size: 20px;
}

.graphicdesign .project-list li dl dd {
    font-size: 16px;
}

.graphicdesign-content {
    width: 30%;
}

.graphicdesign-content figure {
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
}

.graphicdesign-content figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTACT */

.contact {
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80vh;
}
